header{
    text-decoration: none;
}
h1{
    text-align: center;
}
/* Style header */
header {
  background: #0dd60d;
  padding: 15px;
  text-align: center;
}

/* Style links */
header a {
  color: rgb(220, 35, 35);
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  transition: 0.3s ease;
}

/* Hover effect */
header a:hover {
  background-color: blue;
  color: rgb(68, 0, 255); 
  text-emphasis-color: blue;                /* change text color */
  border-bottom: 2px solid yellow; /* underline on hover */
  letter-spacing: 1px;           /* spacing effect */
  border-radius: 15px;
}
h1{
    color:rgb(0, 204, 255);
}
h4:hover{
  background-color: rgb(30, 210, 96);
  transition: 3s;
}
main{
  background-color: rgb(126, 149, 102);
}
.footer{
  text-align: center;
  background-color: #0dd60d;

}
footer a:hover{
  color: blue;
  transition: 0.3s;
  border-radius:10px ;
}
footer .nav-link{
  color: blue;
  
}
.fa-brands{
  width: 30px;
}
