<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}
        Home
        {%endblock%}
    </title>
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylep.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
<header>
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src= "{{ url_for('static', filename='image/large.png') }}" alt="My Logo" width="200">>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="/login">login</a>
        <a class="nav-link" href="/logout">logout</a>
        <a class="nav-link" href="/register">Sign up</a>
        <a class="nav-link" href="/products">Products</a>
        <a class="nav-link" href="/contactus">Contact us</a>
        <a class="nav-link" href="/ordernow">Order now</a>
        <a class="nav-link" href="/payment">payment</a>
        <a class="nav-link" href="/profile">Profile</a>
        <a class="nav-link" href="/cart">Cart box</a>
      </div>
    </div>
  </div>
</nav>
</header>
{% with messages=get_flashed_messages(with_categories=true)%}
{% if messages %}
{% for category,message in messages %}
{% if category=='error' %}
<div class="alert alert-danger alter-dismissable fade show" role="alert">
{{message}}
<button type="button" class="close"data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
</button>
</div>
{% else %}
<div class="alert alert-success alter-dismissable fade show" role="alert">
{{message}}
<button type="button" class="close"data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
</button>
</div>
{%endif%}
{%endfor%}
{%endif%}
{%endwith%}
<div class="container">
    {%block content%}


    {% endblock%}



</div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>  
<footer>
<header>
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
   
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="/login">login</a>
        <a class="nav-link" href="/logout">logout</a>
        <a class="nav-link" href="/register">Sign up</a>
        <a class="nav-link" href="/contactus">Contact us</a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href="https://wa.me/+254710752707"><i class="fa-brands fa-whatsapp"></i></a>
        <a href=""><i class="fa-brands fa-x"></i></a>
        <a href="https://wwww.instagram.com/shakimbenzoyl"><i class="fa-brands fa-instagram"></i></a><br>
        <p>&copy; 2025 YourWebsiteName. All rights reserved. Unauthorized reproduction is prohibited.</p>
</footer>
</body>
</html>
